{
  "openapi": "3.1.0",
  "info": {
    "title": "Nudgen Developer API",
    "version": "1.0.0",
    "description": "REST API for contacts, campaigns, Lifetime triggers, sending domains, brand settings, AI drafts, and local Map Leads search/import. Most endpoints use a Personal Access Token; Lifetime triggers require a scoped team API key."
  },
  "servers": [
    {
      "url": "https://app.nudgen.net",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {"name": "Map Leads"},
    {
      "name": "Identity"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Campaigns"
    },
    {
      "name": "Brand settings"
    },
    {
      "name": "AI"
    },
    {
      "name": "Team API keys"
    },
    {
      "name": "Sending domains"
    }
  ],
  "paths": {
    "/api/v1/map-leads/search": {
      "post": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Search local businesses",
        "operationId": "searchMapLeads",
        "description": "PAT uses the active workspace. Defaults to a strict 5 km circle; integer radiusKm 1–100 is explicit. Preserve location, keywords, center, place ID and radius on pagination. Empty filtered pages can still have nextPageToken. Only new searches consume daily quota; pagination does not. Increasing radius starts a new search. Provider failures refund reservations; cancelling an accepted search does not. For NDJSON, parse each line as progress/complete with data, or error with error text. The complete event is authoritative and includes quota and any retry token. Progress snapshots may omit those fields.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsSearchResult"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"type\":\"progress\",\"data\":{\"leads\":[]}}\n{\"type\":\"complete\",\"data\":{\"leads\":[]}}\n"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or no active workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "403": {
            "description": "Daily search quota or contact plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "500": {
            "description": "Provider failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapLeadsSearchInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Set application/x-ndjson for streamed progress; otherwise application/json."
          }
        ]
      }
    },
    "/api/v1/map-leads/enrichment-retry": {
      "post": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Retry pending website enrichment",
        "operationId": "retryMapLeadsEnrichment",
        "description": "Use enrichmentRetryToken from search. Workspace-bound, single-use, expires after 15 minutes; up to 20 server-discovered pending businesses. Does not consume search quota. Merge leads by placeId. A retry may finish without finding an email. Streaming emits progress/complete with data or error with error text. Token is consumed when the retry begins.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsRetryResult"
                }
              },
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"type\":\"progress\",\"data\":{\"leads\":[]}}\n{\"type\":\"complete\",\"data\":{\"leads\":[]}}\n"
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or no active workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "404": {
            "description": "Retry token expired, consumed, or unavailable for this workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "503": {
            "description": "Retry unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                "required": [
                  "token"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "description": "Set application/x-ndjson for streamed progress; otherwise application/json."
          }
        ]
      }
    },
    "/api/v1/map-leads/import": {
      "post": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Import map leads as contacts",
        "operationId": "importMapLeads",
        "description": "Import 1–200 businesses into the active workspace. Invalid/missing emails are skipped; existing emails are updated. Stores available business summary/sources and source details. Adds map-lead, location and keyword tags. Contact plan limits apply.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "updated": {
                          "type": "integer"
                        },
                        "skipped": {
                          "type": "integer"
                        },
                        "skippedReasons": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          }
                        }
                      },
                      "required": [
                        "created",
                        "updated",
                        "skipped",
                        "skippedReasons"
                      ]
                    }
                  },
                  "required": [
                    "summary"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or no active workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "403": {
            "description": "Daily search quota or contact plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 300
                  },
                  "keywords": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "leads": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 200,
                    "items": {
                      "$ref": "#/components/schemas/MapLeadImport"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "maxItems": 10,
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25
                    },
                    "description": "Optional manual tags, normalized to lowercase. sync: and crm:hubspot: prefixes are reserved."
                  }
                },
                "required": [
                  "location",
                  "keywords",
                  "leads"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/map-leads/quota": {
      "get": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Get daily map search quota",
        "operationId": "getMapLeadsQuota",
        "description": "Quota belongs to the active workspace and resets at midnight UTC. Null limit and remaining mean unlimited.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quota": {
                      "$ref": "#/components/schemas/MapLeadsQuota"
                    }
                  },
                  "required": [
                    "quota"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or no active workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/map-leads/suggest": {
      "post": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Suggest search locations",
        "operationId": "suggestMapLeadsLocations",
        "description": "Autocomplete locations. Reuse the sessionToken when resolving the selected place.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "placeId": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "lat": {
                            "type": "number",
                            "minimum": -90,
                            "maximum": 90
                          },
                          "lng": {
                            "type": "number",
                            "minimum": -180,
                            "maximum": 180
                          },
                          "resultType": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "placeId",
                          "description"
                        ]
                      }
                    }
                  },
                  "required": [
                    "suggestions"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or no active workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "403": {
            "description": "Daily search quota or contact plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "500": {
            "description": "Provider failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": {
                    "type": "string",
                    "description": "Fewer than two trimmed characters returns an empty list."
                  },
                  "sessionToken": {
                    "type": "string"
                  },
                  "language": {
                    "type": "string"
                  }
                },
                "required": [
                  "input"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/map-leads/place": {
      "post": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Resolve a location suggestion",
        "operationId": "resolveMapLeadsPlace",
        "description": "Resolve an autocomplete place ID to search coordinates. This is location resolution, not business contact enrichment.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placeId": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "lat": {
                      "type": "number",
                      "minimum": -90,
                      "maximum": 90
                    },
                    "lng": {
                      "type": "number",
                      "minimum": -180,
                      "maximum": 180
                    },
                    "resultType": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "placeId",
                    "description",
                    "lat",
                    "lng"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized or no active workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          },
          "500": {
            "description": "Provider failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapLeadsError"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "placeId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 512
                  },
                  "sessionToken": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "placeId"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/map-leads/geolocate": {
      "get": {
        "tags": [
          "Map Leads"
        ],
        "summary": "Get default map center",
        "operationId": "getMapLeadsDefaultCenter",
        "description": "Returns the fixed fallback center Ho Chi Minh City (10.82, 106.63), VN. Does not locate the caller or use browser GPS.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "minimum": -90,
                      "maximum": 90
                    },
                    "lng": {
                      "type": "number",
                      "minimum": -180,
                      "maximum": 180
                    },
                    "city": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "lat",
                    "lng",
                    "city",
                    "country"
                  ]
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/user/me": {
      "get": {
        "tags": ["Identity"],
        "summary": "Get current user",
        "description": "Returns the authenticated user for the provided Personal Access Token.",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/teams": {
      "get": {
        "tags": ["Identity"],
        "summary": "List workspaces",
        "description": "Lists workspaces available to the token owner and identifies the active workspace.",
        "operationId": "listTeams",
        "responses": {
          "200": {
            "description": "Workspace list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "activeTeam": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/Team"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "isAdmin": {
                      "type": "boolean"
                    },
                    "canCreateTeam": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "tags": ["Contacts"],
        "summary": "List contacts",
        "description": "Lists contacts in the active workspace. Contact PII is decrypted in the authorized response.",
        "operationId": "listContacts",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by decrypted contact email."
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tags."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "active,unsubscribed"
            },
            "description": "Comma-separated statuses."
          }
        ],
        "responses": {
          "200": {
            "description": "Contact list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/contacts/add": {
      "post": {
        "tags": ["Contacts"],
        "summary": "Create contact",
        "description": "Creates one contact in the active workspace.",
        "operationId": "createContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactRequest"
              },
              "example": {
                "email": "nathan@example.com",
                "name": "Nathan Nguyen",
                "tags": ["api-test"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "contact": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/contacts/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": ["Contacts"],
        "summary": "Get contact",
        "operationId": "getContact",
        "responses": {
          "200": {
            "description": "Contact",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Contacts"],
        "summary": "Update contact",
        "operationId": "updateContact",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": ["Contacts"],
        "summary": "Delete contact",
        "operationId": "deleteContact",
        "responses": {
          "200": {
            "description": "Contact deleted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/campaigns": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "List campaigns",
        "description": "Lists campaigns in the active workspace.",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "one-time,drip,lifetime"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "draft,scheduled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Campaigns"],
        "summary": "Create campaign",
        "description": "Creates a campaign draft, scheduled campaign, or immediate send when `sendNow` is true.",
        "operationId": "createCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              },
              "example": {
                "name": "API launch test",
                "goal": "Invite contacts to try Nudgen.",
                "subject": "Try Nudgen",
                "html": "<p>Ready to launch smarter email?</p>",
                "link": "https://get.nudgen.net",
                "audienceType": "manual",
                "audienceContactIds": ["contact_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get campaign",
        "operationId": "getCampaign",
        "responses": {
          "200": {
            "description": "Campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": ["Campaigns"],
        "summary": "Update campaign",
        "operationId": "updateCampaign",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign updated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/launch": {
      "post": {
        "tags": ["Campaigns"],
        "summary": "Launch campaign",
        "description": "Launches a campaign now or schedules it for a future time.",
        "operationId": "launchCampaign",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LaunchCampaignRequest"
              },
              "example": {
                "sendNow": false,
                "scheduledAt": "2026-05-21T06:46:52.128Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign scheduled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LaunchCampaignResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/stats": {
      "get": {
        "tags": ["Campaigns"],
        "summary": "Get campaign stats",
        "operationId": "getCampaignStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign stats",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "$ref": "#/components/schemas/CampaignStats"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/lifecycle": {
      "patch": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Change lifetime campaign status",
        "description": "Allowed transitions: draft to active, active to paused or archived, paused to active or archived. Archived campaigns cannot resume. Pausing or archiving cancels pending and queued executions. A lifetime campaign must be created as a draft; the launch endpoint does not accept it.",
        "operationId": "updateLifetimeCampaignLifecycle",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "additionalProperties": false,
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused",
                      "archived"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated campaign",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/Campaign"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Invalid transition or campaign not ready to activate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/executions": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List lifetime campaign executions",
        "description": "Lists execution history for a lifetime campaign in the active workspace. Search treats values containing @ as an exact email lookup; other values search external contact IDs. Invalid status filters are ignored.",
        "operationId": "listLifetimeCampaignExecutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "queued",
                "processing",
                "sent",
                "skipped",
                "cancelled",
                "failed",
                "delivery_unknown"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "executions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LifetimeExecution"
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/campaigns/{id}/triggers": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Trigger a lifetime campaign",
        "description": "Requires a team API key with campaigns:trigger scope. The key must belong to the campaign workspace. eventId is an idempotency key within this campaign: a duplicate returns the existing execution with HTTP 200. New executions return HTTP 201; suppressed contacts can produce a skipped execution. Limit: 600 requests per window per key, 64 KiB request body, 32 KiB data object, and JSON nesting depth 8.",
        "operationId": "triggerLifetimeCampaign",
        "security": [
          {
            "teamApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LifetimeTriggerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New execution created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LifetimeTriggerResponse"
                }
              }
            }
          },
          "200": {
            "description": "Duplicate event; existing execution returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LifetimeTriggerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Campaign inactive or sender configuration unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "$ref": "#/components/responses/BadRequest"
          },
          "415": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "description": "Trigger data does not match the campaign variable manifest",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "string"
                              },
                              "code": {
                                "type": "string",
                                "enum": [
                                  "required",
                                  "type"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "description": "Unable to enqueue execution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/settings/team-api-keys": {
      "get": {
        "tags": [
          "Team API keys"
        ],
        "summary": "List team API keys",
        "description": "Owner or admin only. Raw key secrets are never returned by this endpoint.",
        "operationId": "listTeamApiKeys",
        "responses": {
          "200": {
            "description": "Team API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKeys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TeamApiKey"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Team API keys"
        ],
        "summary": "Create team API key",
        "description": "Owner or admin only. The new key has only the campaigns:trigger scope. Save the raw key from this response because it is shown once.",
        "operationId": "createTeamApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "expiresInDays": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 1,
                    "maximum": 365,
                    "default": 90,
                    "description": "Null creates a key without an expiry."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "$ref": "#/components/schemas/TeamApiKey"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "description": "Active key name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/team-api-keys/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "post": {
        "tags": [
          "Team API keys"
        ],
        "summary": "Rotate team API key",
        "description": "Owner or admin only. Rotating invalidates the previous key immediately and returns the new raw key once. Revoked or expired keys cannot be rotated.",
        "operationId": "rotateTeamApiKey",
        "responses": {
          "200": {
            "description": "Key rotated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "apiKey": {
                      "$ref": "#/components/schemas/TeamApiKey"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Key revoked or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Team API keys"
        ],
        "summary": "Revoke team API key",
        "description": "Owner or admin only. Repeating the request for an already revoked key succeeds.",
        "operationId": "revokeTeamApiKey",
        "responses": {
          "200": {
            "description": "Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/sending-domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TeamId"
        }
      ],
      "get": {
        "tags": [
          "Sending domains"
        ],
        "summary": "List sending domains",
        "operationId": "listSendingDomains",
        "responses": {
          "200": {
            "description": "Sending domain settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendingDomainsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": [
          "Sending domains"
        ],
        "summary": "Add sending domain",
        "description": "Owner or admin only. Custom sender use requires an eligible paid plan.",
        "operationId": "createSendingDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain",
                  "senderEmail",
                  "senderName"
                ],
                "additionalProperties": false,
                "properties": {
                  "domain": {
                    "type": "string",
                    "maxLength": 253
                  },
                  "senderEmail": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "senderName": {
                    "type": "string",
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/sending-domains/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TeamId"
        },
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "patch": {
        "tags": [
          "Sending domains"
        ],
        "summary": "Edit sending identity",
        "description": "Owner or admin only. Updates sender email and sender name for an existing domain.",
        "operationId": "updateSendingDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "senderEmail",
                  "senderName"
                ],
                "additionalProperties": false,
                "properties": {
                  "senderEmail": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "senderName": {
                    "type": "string",
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "tags": [
          "Sending domains"
        ],
        "summary": "Remove sending domain",
        "description": "Owner or admin only.",
        "operationId": "removeSendingDomain",
        "responses": {
          "200": {
            "description": "Domain removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/sending-domains/{id}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TeamId"
        },
        {
          "$ref": "#/components/parameters/Id"
        }
      ],
      "post": {
        "tags": [
          "Sending domains"
        ],
        "summary": "Check sending domain DNS",
        "description": "Owner or admin only. Performs verification after the required DNS records have been published. Requires an eligible paid plan.",
        "operationId": "verifySendingDomain",
        "responses": {
          "200": {
            "description": "Verification check completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/sending-domains/default": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TeamId"
        }
      ],
      "put": {
        "tags": [
          "Sending domains"
        ],
        "summary": "Select default sending domain",
        "description": "Owner or admin only. Pass null to clear the custom default.",
        "operationId": "setDefaultSendingDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domainId"
                ],
                "additionalProperties": false,
                "properties": {
                  "domainId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Default updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/sending-domains/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TeamId"
        }
      ],
      "post": {
        "tags": [
          "Sending domains"
        ],
        "summary": "Resume campaign sending",
        "description": "Owner or admin only. Clears an eligible sender hold after its cause has been resolved.",
        "operationId": "resumeCampaignSending",
        "responses": {
          "200": {
            "description": "Sending resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/v1/settings/brand": {
      "get": {
        "tags": ["Brand settings"],
        "summary": "Get brand settings",
        "operationId": "getBrandSettings",
        "responses": {
          "200": {
            "description": "Brand settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandSettings"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Brand settings"],
        "summary": "Update brand settings",
        "operationId": "updateBrandSettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrandSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated brand settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandSettings"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/api/v1/ai/generate": {
      "post": {
        "tags": ["AI"],
        "summary": "Generate email draft",
        "description": "Generates an email subject and HTML draft from campaign context and the active workspace brand settings.",
        "operationId": "generateEmailDraft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateEmailDraftRequest"
              },
              "example": {
                "campaignGoal": "Write a short retention email inviting users to try Nudgen.",
                "link": "https://get.nudgen.net",
                "personalizationMode": "off"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated draft",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailDraft"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "teamApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Scoped team API key created by an owner or admin. Required scope: campaigns:trigger. Personal Access Tokens do not authorize this endpoint."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "PAT",
        "description": "Personal Access Token created from Settings -> API Keys."
      }
    },
    "parameters": {
      "TeamId": {
        "name": "teamId",
        "in": "query",
        "required": true,
        "description": "ID of the currently active workspace. Must match the authenticated team.",
        "schema": {
          "type": "string"
        }
      },
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, invalid, revoked, or expired token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The workspace cannot perform this write action",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "MapLeadImport": {
        "type": "object",
        "properties": {
          "placeId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2048
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 253
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 64
          },
          "rating": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 5
          },
          "categories": {
            "type": "array",
            "maxItems": 30,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254
          },
          "socials": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "linkedin": {
                "type": "string",
                "maxLength": 2048
              },
              "facebook": {
                "type": "string",
                "maxLength": 2048
              },
              "twitter": {
                "type": "string",
                "maxLength": 2048
              },
              "instagram": {
                "type": "string",
                "maxLength": 2048
              }
            }
          },
          "businessSummary": {
            "type": "string",
            "maxLength": 1200
          },
          "businessSources": {
            "type": "array",
            "maxItems": 4,
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "maxLength": 2048,
                  "pattern": "^https?://"
                },
                "title": {
                  "type": "string",
                  "maxLength": 300
                }
              },
              "required": [
                "url",
                "title"
              ]
            }
          }
        },
        "required": [
          "placeId",
          "name",
          "address",
          "lat",
          "lng",
          "website",
          "domain",
          "phone",
          "rating",
          "categories",
          "email"
        ]
      },
      "MapLead": {
        "type": "object",
        "properties": {
          "placeId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "website": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2048
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 253
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 64
          },
          "rating": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 5
          },
          "categories": {
            "type": "array",
            "maxItems": 30,
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            }
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 254
          },
          "socials": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "linkedin": {
                "type": "string",
                "maxLength": 2048
              },
              "facebook": {
                "type": "string",
                "maxLength": 2048
              },
              "twitter": {
                "type": "string",
                "maxLength": 2048
              },
              "instagram": {
                "type": "string",
                "maxLength": 2048
              }
            }
          },
          "businessSummary": {
            "type": "string",
            "maxLength": 1200
          },
          "businessSources": {
            "type": "array",
            "maxItems": 4,
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri",
                  "maxLength": 2048,
                  "pattern": "^https?://"
                },
                "title": {
                  "type": "string",
                  "maxLength": 300
                }
              },
              "required": [
                "url",
                "title"
              ]
            }
          },
          "enrichmentPending": {
            "type": "boolean",
            "description": "Website enrichment did not finish during the initial search; false after retry does not guarantee an email was found."
          }
        },
        "required": [
          "placeId",
          "name",
          "address",
          "lat",
          "lng",
          "website",
          "domain",
          "phone",
          "rating",
          "categories",
          "email",
          "socials"
        ]
      },
      "MapLeadsQuota": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string"
          },
          "limit": {
            "type": [
              "integer",
              "null"
            ]
          },
          "used": {
            "type": "integer"
          },
          "remaining": {
            "type": [
              "integer",
              "null"
            ]
          },
          "resetAt": {
            "type": "string",
            "format": "date-time",
            "description": "Next midnight UTC."
          }
        },
        "required": [
          "plan",
          "limit",
          "used",
          "remaining",
          "resetAt"
        ]
      },
      "MapLeadsSearchInput": {
        "type": "object",
        "properties": {
          "location": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "keywords": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "radiusKm": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "maximum": 100,
            "default": 5
          },
          "pageToken": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 8192
          },
          "locationPlaceId": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 512
          },
          "lat": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -90,
            "maximum": 90
          },
          "lng": {
            "type": [
              "number",
              "null"
            ],
            "minimum": -180,
            "maximum": 180
          }
        },
        "required": [
          "location",
          "keywords"
        ]
      },
      "MapLeadsSearchResult": {
        "type": "object",
        "properties": {
          "center": {
            "type": "object",
            "properties": {
              "lat": {
                "type": "number",
                "minimum": -90,
                "maximum": 90
              },
              "lng": {
                "type": "number",
                "minimum": -180,
                "maximum": 180
              }
            },
            "required": [
              "lat",
              "lng"
            ]
          },
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapLead"
            }
          },
          "nextPageToken": {
            "type": [
              "string",
              "null"
            ]
          },
          "quota": {
            "$ref": "#/components/schemas/MapLeadsQuota"
          },
          "enrichmentRetryToken": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          }
        },
        "required": [
          "center",
          "leads",
          "nextPageToken"
        ]
      },
      "MapLeadsRetryResult": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MapLead"
            }
          }
        },
        "required": [
          "leads"
        ]
      },
      "MapLeadsError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "quota": {
            "$ref": "#/components/schemas/MapLeadsQuota"
          }
        },
        "required": [
          "error"
        ]
      },
      "LifetimeVariableManifestEntry": {
        "type": "object",
        "required": [
          "path",
          "type",
          "required"
        ],
        "additionalProperties": false,
        "properties": {
          "path": {
            "type": "string",
            "pattern": "^data\\."
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "boolean",
              "date",
              "url"
            ]
          },
          "required": {
            "type": "boolean"
          },
          "defaultValue": {
            "type": [
              "string",
              "number",
              "boolean"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "LifetimeTriggerRequest": {
        "type": "object",
        "required": [
          "eventId",
          "contact",
          "data"
        ],
        "additionalProperties": false,
        "properties": {
          "eventId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          },
          "eventName": {
            "type": "string",
            "maxLength": 100
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "contact": {
            "type": "object",
            "required": [
              "email"
            ],
            "properties": {
              "email": {
                "type": "string",
                "format": "email"
              },
              "externalId": {
                "type": "string",
                "maxLength": 200
              },
              "name": {
                "type": "string",
                "maxLength": 200
              },
              "phone": {
                "type": "string",
                "maxLength": 50
              },
              "metadata": {
                "type": "object",
                "additionalProperties": true
              }
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Must satisfy the campaign variable manifest; 32 KiB maximum."
          }
        }
      },
      "LifetimeTriggerResponse": {
        "type": "object",
        "properties": {
          "execution": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "duplicate": {
            "type": "boolean"
          }
        }
      },
      "LifetimeExecution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "eventName": {
            "type": [
              "string",
              "null"
            ]
          },
          "occurredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "source": {
            "type": "string"
          },
          "campaignVersion": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "processing",
              "sent",
              "skipped",
              "cancelled",
              "failed",
              "delivery_unknown"
            ]
          },
          "failureCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "failureMessage": {
            "type": [
              "string",
              "null"
            ]
          },
          "providerMessageId": {
            "type": [
              "string",
              "null"
            ]
          },
          "queuedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "processingStartedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "sentAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "skippedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "contact": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string",
                "format": "email"
              },
              "name": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "externalId": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "TeamApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "keyPrefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "campaigns:trigger"
              ]
            }
          },
          "lastUsedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SendingDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "senderEmail": {
            "type": "string",
            "format": "email"
          },
          "senderName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "ownershipToken": {
            "type": "string"
          },
          "ownershipVerifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dnsRecords": {
            "description": "DNS records to publish or check for this domain. Shape may vary by provider.",
            "type": ["array", "object"],
            "items": {},
            "additionalProperties": true
          },
          "dkimVerified": {
            "type": "boolean"
          },
          "returnPathVerified": {
            "type": "boolean"
          },
          "dmarcStatus": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastCheckedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastError": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SendingDomainsResponse": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SendingDomain"
            }
          },
          "defaultDomainId": {
            "type": [
              "string",
              "null"
            ]
          },
          "holdReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "canManage": {
            "type": "boolean"
          },
          "canUseCustomSender": {
            "type": "boolean"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "isBetaTester": {
            "type": "boolean"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "unsubscribed", "bounced"]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactListResponse": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "CreateContactRequest": {
        "type": "object",
        "required": ["email", "name"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UpdateContactRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": ["active", "unsubscribed", "bounced"]
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["one-time", "drip", "lifetime"]
          },
          "status": {
            "type": "string",
            "enum": ["draft", "scheduled", "sending", "sent", "stopped", "active", "paused", "archived"]
          },
          "subject": {
            "type": "string"
          },
          "scheduledAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "sentAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "CreateCampaignRequest": {
        "type": "object",
        "description": "A CTA link is required. One-time campaigns also require a goal; lifetime campaigns must be created as drafts and activated with the lifecycle endpoint.",
        "required": ["link"],
        "properties": {
          "name": {
            "type": "string"
          },
          "goal": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "audienceType": {
            "type": "string",
            "enum": ["all", "tags", "manual", "trigger"],
            "default": "all"
          },
          "audienceTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "audienceContactIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sendNow": {
            "type": "boolean",
            "default": false
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "one-time",
              "drip",
              "lifetime"
            ]
          },
          "variableManifest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifetimeVariableManifestEntry"
            },
            "description": "Lifetime campaigns only. Declares data.* template variables."
          },
          "generatedVariableManifest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifetimeVariableManifestEntry"
            },
            "description": "Lifetime campaigns only. Manifest associated with generated content."
          },
          "personalizationMode": {
            "type": "string",
            "enum": ["off", "lead_description_intro"],
            "default": "off"
          }
        }
      },
      "UpdateCampaignRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "goal": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "format": "uri"
          },
          "audienceType": {
            "type": "string",
            "enum": ["all", "tags", "manual", "trigger"]
          },
          "audienceTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "audienceContactIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sendNow": {
            "type": "boolean"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "type": {
            "type": "string",
            "enum": [
              "one-time",
              "drip",
              "lifetime"
            ]
          },
          "variableManifest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifetimeVariableManifestEntry"
            },
            "description": "Lifetime campaigns only. Declares data.* template variables."
          },
          "generatedVariableManifest": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LifetimeVariableManifestEntry"
            },
            "description": "Lifetime campaigns only. Manifest associated with generated content."
          },
          "personalizationMode": {
            "type": "string",
            "enum": ["off", "lead_description_intro"]
          }
        }
      },
      "LaunchCampaignRequest": {
        "type": "object",
        "properties": {
          "sendNow": {
            "type": "boolean",
            "default": true
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LaunchCampaignResponse": {
        "type": "object",
        "properties": {
          "campaign": {
            "$ref": "#/components/schemas/Campaign"
          },
          "launched": {
            "type": "boolean"
          },
          "delayMs": {
            "type": "integer"
          }
        }
      },
      "CampaignStats": {
        "type": "object",
        "properties": {
          "totalSent": {
            "type": "integer"
          },
          "totalDelivered": {
            "type": "integer"
          },
          "totalOpens": {
            "type": "integer"
          },
          "totalClicks": {
            "type": "integer"
          },
          "ctr": {
            "type": "number"
          },
          "totalFailed": {
            "type": "integer"
          },
          "totalSpamComplaints": {
            "type": "integer"
          },
          "totalHardBounces": {
            "type": "integer"
          },
          "totalSoftBounces": {
            "type": "integer"
          }
        }
      },
      "BrandSettings": {
        "type": "object",
        "properties": {
          "brandName": {
            "type": ["string", "null"]
          },
          "brandDescription": {
            "type": ["string", "null"]
          },
          "brandEmail": {
            "type": ["string", "null"],
            "format": "email"
          },
          "websiteUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "emailLanguage": {
            "type": ["string", "null"]
          },
          "logoUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "brandDesignSystem": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "brandDesignMarkdown": {
            "type": ["string", "null"]
          }
        }
      },
      "UpdateBrandSettingsRequest": {
        "type": "object",
        "properties": {
          "brandName": {
            "type": ["string", "null"]
          },
          "brandDescription": {
            "type": ["string", "null"]
          },
          "brandEmail": {
            "type": ["string", "null"],
            "format": "email"
          },
          "websiteUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "emailLanguage": {
            "type": ["string", "null"]
          },
          "logoUrl": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "brandDesignSystem": {
            "type": ["object", "null"],
            "additionalProperties": true
          }
        }
      },
      "GenerateEmailDraftRequest": {
        "type": "object",
        "required": ["campaignGoal"],
        "properties": {
          "campaignGoal": {
            "type": "string"
          },
          "context": {
            "type": ["string", "null"]
          },
          "link": {
            "type": ["string", "null"],
            "format": "uri"
          },
          "templateId": {
            "type": ["string", "null"]
          },
          "templateHtml": {
            "type": ["string", "null"]
          },
          "templateSubject": {
            "type": ["string", "null"]
          },
          "autoSelectTemplate": {
            "type": "boolean"
          },
          "personalizationMode": {
            "type": "string",
            "enum": ["off", "lead_description_intro"],
            "default": "off"
          }
        }
      },
      "EmailDraft": {
        "type": "object",
        "properties": {
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string"
          },
          "generationMode": {
            "type": "string"
          }
        }
      }
    }
  }
}
